<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This a platform for women who wants to earn by driving .">
    <title>Women Uber - Coming Soon</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/1da9f8390c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Css/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="all">

        <div>
            <button id="re" class="btn btn-lg" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i
                    class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div id="canvas-ttop" class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Options</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class=" d-flex justify-content-center align-items-center">


                    <div class="offcanvas-body gap-3">
                        <div class="accordion accordion-flush " id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        Pages
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="d-grid gap-2">
                                            <a class="btn  btn-outline-dark" href="./dashboard.html" type="button"
                                                role="button">Home</a>
                                            <a class="btn  btn-outline-dark" type="button" href="./Login.html"
                                                role="button">Log
                                                Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        Passenger
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="d-grid gap-2">
                                            <a class="btn  btn-outline-dark" type="button" role="button">Profile</a>
                                            <a class="btn  btn-outline-dark" type="button" role="button">History</a>
                                            <a class="btn  btn-outline-dark" type="button" role="button">City-City</a>
                                            <a class="btn  btn-outline-dark" type="button" role="button">Balance</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        Driver
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="d-grid gap-2">
                                            <a class="btn  btn-outline-dark" type="button" role="button">Requests</a>
                                            <a class="btn  btn-outline-dark" type="button" role="button">My Income</a>
                                            <a class="btn  btn-outline-dark" type="button" role="button">Rating</a>
                                            <a class="btn  btn-outline-dark" type="button" role="button">Pay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                                        aria-controls="flush-collapseFour">
                                        Help
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="d-grid gap-2">
                                            <a class="btn  btn-outline-dark" type="button" role="button">Visit
                                                Website</a>
                                            <a class="btn  btn-outline-dark" type="button" role="button">Facebook</a>
                                            <a class="btn  btn-outline-dark" type="button" role="button">Instragram</a>
                                            <a class="btn  btn-outline-dark" type="button" role="button">Credits</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="main" class="d-flex flex-row mb-3 justify-content-center align-items-center">
                <h1 class="display-2"><strong> Coming Soon</strong></h1>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>