<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This a platform for women who wants to earn by driving .">
    <title>Women Uber - Login</title>
    <link rel="stylesheet" type="css" href="View\Css\login.css">
    <link rel="stylesheet" href="../Css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <div class="container text-center">
        <div id="main" class="d-flex flex-row mb-3 justify-content-center align-items-center">
            <div class="p">
                <div class="loginForm">
                    <div class="container">
                        <h1>Welcome back</h1>
                        <div class="form-floating mt-3 mb-3">
                            <input type="number" class="form-control" placeholder="name@example.com">
                            <label for="floatingInput">Phone Number</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn  mt-5" type="button">Login</button>
                            <a class="btn " href="./signup.html" role="button" target="_blank">Signup As
                                Driver</a>
                            <a class="btn mb-3" href="./signup.html" role="button" target="_blank">Signup As
                                Passenger</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p">
                <div class="sidebar">
                    <h1>No Account?</h1><br>
                    <p>Lets Create a new Account to begin a journey</p>
                    <div class="d-grid gap-2">
                        <a class="btn mt-4" href="./signup.html" role="button" target="_blank">Signup As
                            Driver</a>
                        <a class="btn mt-4" href="./signup.html" role="button" target="_blank">Signup As
                            Passenger</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>