body {
    /* background-repeat:no-repeat; */
    background-size: cover;
    background: linear-gradient(to right, #d53369, #d53369, #cbad6d);
    /* mix-blend-mode:darken; */
}
.all{
    height: 100vh;
    width: 100%;
    background-image: url("../images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
#offcanvasWithBothOptions{
    background: none ;
    backdrop-filter: blur(3px);
     background: linear-gradient(to left, #d5336944, #cbad6d37,rgba(255, 255, 255, 0.347));
     box-shadow: inset #ff00ee 0px 0px 20px 20px;
  
    border-radius: 7%;
    box-shadow: #e0cfcf7d 0px 1px 13px 1px;
    border: 1px solid rgba(242, 234, 234, 0.275);
}
.accordion-button{
    background: none ;
    /* background: linear-gradient(266deg, #d5336969, #cbad6da1,rgb(255 255 255 / 79%));
     */
     background: linear-gradient(to left, #d5336944, #cbad6d37,rgba(255, 255, 255, 0.347));
     box-shadow: inset #ff00ee 0px 0px 20px 20px;
  
    border-radius: 7%;
    box-shadow: #e0cfcf7d 0px 1px 13px 1px;
    border: 1px solid rgba(242, 234, 234, 0.275);
}
.offcanvas-title{
    background-color: white;
}
.accordion-button{
    color: #ff0055;
    background-color: #f8a900;
    /* background: radial-gradient(#d5336953, #cbad6d65); */
}
#canvas-ttop{
    background-color: rgb(255, 255, 255);
}
#main{
    width: 95%;
    height:45vh;
    gap: 0;
    color: rgb(255 255 255);
    text-shadow: 0px 0px 17px #afd800;
}
#ifg{
    padding-left: 5rem;
    /* padding-top: 1rem; */
    max-width: 768px;
}
.d-grid a{
    color: #000000;
}
#addon-wrapping{
    background:linear-gradient(to left,rgb(41, 41, 41),#5a5a5a);
}

.p-2 h1{
  color: rgb(254, 254, 255);
}
.p-2 p{
    color: rgb(255, 255, 255);
    font-size: larger;
}
.p-2 a,.p-2 button{
    margin-left: 20px;
    color:white;
    margin-right: 20px;
    border: 1px solid rgb(255, 255, 255);
    
}
.p-2 a:hover,.p-2 button:hover{
    /* scale: 1.1; */
    color: white;
    
    background:linear-gradient(to left,rgba(255, 255, 255, 0.709),#fcc03ec4,#f13775c2);
    border: 1px solid black;
}
.accordion button:hover,.accordion a:hover{
    /* scale: 1.1; */
    font-size: 1.1rem;
    background:linear-gradient(to left,rgba(255, 255, 255, 0.709),#fcc03ec4,#f13775c2);
    border: 1px solid black;
}

button:hover{
    scale: 1.1;
}
