body {
    background: linear-gradient(to right, #d53369, #d53369, #cbad6d);
}
#main{
    width: 100%;
    height:95vh;
    gap: 0;
}
.all{
    height: 100vh;
    width: 100%;
    background-image: url("../images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.loginForm{
    background: linear-gradient(to left, #d5336944, #cbad6d37,rgba(255, 255, 255, 0.347));
    min-height: 64vh;
    min-width: 50vmax;
    padding: 0;
    backdrop-filter: blur(4px);
    border-radius: 7%;
    box-shadow: #e0cfcf7d 0px 1px 13px 1px;
    border: 1px solid rgba(242, 234, 234, 0.275);
}
.sidebar{
    margin: 0;
    padding: 0;
    border-radius: 7%;
    min-height: 64vh;
    min-width: 27vmax;
    max-width: 27vmax;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(242, 234, 234, 0.275);
    box-shadow: #e0cfcf7d 0px 1px 13px 1px;
    background: radial-gradient(circle, #d5336944, #cbad6d37,rgba(255, 255, 255, 0.347));
}
.p-2 h1{
  color: rgb(254, 254, 255);
}
.p-2 p{
    color: rgb(255, 255, 255);
    font-size: larger;
}
.p-2 a,.p-2 button{
    margin-left: 20px;
    color:white;
    margin-right: 20px;
    border: 1px solid rgb(255, 255, 255);
    
}
.p-2 a:hover,.p-2 button:hover{
    scale: 1.1;
    color: white;
    
    background:linear-gradient(to right,#cbad6d,#d53369);
    border: 1px solid black;
}
#numbers{
    margin-top: 4rem;
}
button:hover{
    scale: 1.1;
}
.loginForm a{
    display: none;
}
@media only screen and (max-width: 768px ) {
   .sidebar{
    display: none;
   }
   .loginForm a{
    display:block;
}
.p-2 a:hover,.p-2 button:hover{
   background-color: white;
}
  }